p{
    color:rgb(255, 255, 255);
    background-color: black;
    text-align: center;
    font-family:'arial narrow';
    font-size: 15pt; 
    font-weight: bold;
}
h1{
    background-color: black;
    text-align: center; 
    color:white;
    border-radius: 10px;
}