body{
    background: silver;
    font-family:'Arial black';
}

p{
    color: green;
    font-style: italic;
    font-family:'Monotype Corsiva';
}

h3, h4{
    font-family: arial;
}

h3{
    color: blue;
}

h4{
    color: yellow;
}

li{
    font-size: 12px;
}

